.playlistHeadContainer{
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
}

.playlistHeadImg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.playlistHeadinfoContainer{
    display: flex;
}

.playlistHeadLogoImg{
    width: 20px;
    height: 20px;
}

.playlistHeadName{
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
}

.playlistHeadName:hover{
    background-color: rgba(30, 215, 96, 0.1);
    border-radius: 20px;
}

.playlistInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

@media (max-width: 900px){
    .playlistHeadImg{
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 600px){
    .playlistHeadName{
        font-size: 1rem;
    }
}