.playlistContainer{
    height: 100%;
    overflow: auto;
    max-height: calc(100vh - 240px);
    -ms-overflow-style: none;/* IE Î∞è Edge */
    scrollbar-width: none;/* Firefox */
}

/* Chrome, Safari, Opera */
.playlistContainer::-webkit-scrollbar {
  display: none;
}