.palylistCardContainer{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.palylistCardContainer:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.playlistCardImg{
    width: 50px;
    height: 50px;
}

.palylistInfoContainer{
    margin-left: 10px;
}

.playlistActive{
    background-color: rgba(30, 215, 96, 0.1);
    border-radius: 8px;
}